<ion-view view-title="MAMI">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:white">



      <div class="searchInput" align="center" style="margin-top:20px;" >
      		 <div class="searchInputDiv">
					<div style="direction:rtl;">   
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="{{'login_email' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="forgot.email">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
                    </div>
					

                    <div style="margin-top:10px;" ng-click="sendUserPass()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
      				</div>
	
             </div>
      </div>	

	  

			


	
  </ion-content>
</ion-view>
