<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-content class="content12">
	

		

		
        <div class="mainPageVideo" align="center" style="width:100%">
  
		<!--
  			<div class="tabsDiv" ng-if="isBookedAppointment == 0">
            	<div ng-class="{'tabsActive': AppType == 0 , 'tabsNotActive': AppType == 1 }" ng-click="changeType(0)">
                	תור פנוי
                </div>
                <div  ng-class="{'tabsActive': AppType == 1 , 'tabsNotActive': AppType == 0 }"  ng-click="changeType(1)">
                	תור תפוס
                </div>
            </div>
		-->
			
			
		
			<div class="list">
            	<div class="searchInput" align="center" >
                     <div class="searchInputDiv">
            			<div style="direction:rtl;">   


                           <label class="item item-input  itemSelectedQ" style=" margin-top:8px;" ng-if="AppType == 1">
                              <!--
							  <div class="input-label" >
                                שם מלא
                              </div>
							  -->
                              <input type="text"  placeholder="{{'editappoint_fullname' | translate}}" style="text-align:center !important;" class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.name">
                           </label>

                            <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">
          
                              <input type="tel"  placeholder="{{'editappoint_phone' | translate}}" style="text-align:center !important;"  class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.phone">
                           </label>

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">
         
                              <input type="email" placeholder="{{'editappoint_email' | translate}}" style="text-align:center !important;"   class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.mail">
                           </label>

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" >
         
                              <input  type="text" placeholder="{{'editappoint_date' | translate}}" style="text-align:center !important;" onClick="(this.type='date')" onfocus="(this.type='date')"     class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.date">
                           </label>

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-click="selectTime(0)">

                              <input type="text" placeholder="{{'editappoint_starthour' | translate}}" style="text-align:center !important;"   class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.startime">
                           </label>
						  
                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-click="selectTime(1)" ng-if="AppType == 0">
         
                              <input type="text"  placeholder="{{'editappoint_endhour' | translate}}" style="text-align:center !important;"  class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.endtime">
                           </label>
						   
						   
						   <label class="item item-input item-select itemSelectedQ" style="margin-top:10px;" ng-if="AppType == 1" >
                            <div class="input-label itemSelectedLabelQ">
                              {{'editappoint_subcat' | translate}}
                            </div>
                            <select class="ion-input-select--large itemSelectedBoxQ" ng-model="cat.current">
								<!-- <option value="-1" selected>בחרי קטגוריה</option> -->
                                <option value="{{item.catId}}" ng-selected="{{cat.current == item.catId}}"   ng-repeat="item in Catgeories" >{{item.catName}}</option>
                            </select>
                         </label>
                         <label class="item item-input item-select itemSelectedQ"  style="margin-top:10px;" ng-if="AppType == 1">
                            <div class="input-label itemSelectedLabelQ">
                              {{'editappoint_subcat' | translate}}
                            </div>
                            <select class="ion-input-select--large itemSelectedBoxQ" ng-model="cat.subcat" >
								<!-- <option value="-1" selected>בחרי תת קטגוריה</option>  -->
                                <option value="{{item.id}}"  ng-selected="{{cat.subcat == item.id}}" selected ng-repeat="item in SubCat" >{{item.name}}</option>
                            </select>
                         </label>

						 

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">

								<textarea rows="4" placeholder="{{'editappoint_desc' | translate}}" cols="50" ng-model="fields.desc" class="ion-input-select--large itemSelectedBoxQ" style="padding:10px" ></textarea>
                           </label>	

                          

                           <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                       </div>          
                      <div style="margin-top:10px;" ng-if="isBookedAppointment == 0" ng-click="updateAppoint()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
                      </div>
                      <div style="margin-top:10px;" ng-if="isBookedAppointment == 1" ng-click="updateFullAppoint()">
      					<img src="img/{{'savedetailsimage' | translate}}"  style="width:100%;" />
                      </div>	
                      <div style="margin-top:10px;" ng-if="isBookedAppointment == 1" ng-click="emptyAppoint()">
      					<img src="img/{{'deletetorimage' | translate}}"  style="width:100%;" />
                      </div>
                  </div>
              </div>	
            </div>		

		
		
			
      			
		</div>
    </ion-content>
</ion-view>
