<ion-view view-title="MAMI" cache-view="false">

	 <ion-nav-buttons side="left" >

        <a class="item-icon-left" href="#" style="text-decoration:none; width:40px; margin:0px; margin-top:-3px; padding:0px; margin-left:3px; " ui-sref="app.coupons()">
   		 	<!-- <i class="icon ion-bag" style="color:white;  z-index:-1"></i> -->
			<img src="img/presentwhite.png" style="width:100%;">
		
  		</a>
  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
	


		  
    	<div class="mainSearchBoxDiv" align="center">
            <div class="mainSearchBox">
                <div ng-class="lanDirction == 'rtl' ? 'mainSearchBoxRight' : 'mainSearchBoxRightLtr'">
                    <div style="border-bottom:2px solid #ff4284;">
                        <input type="text" dir="{{lanDirction}}" style="width:100%;" placeholder="{{'home_input1' | translate}}" ng-model="fields.search" ng-keypress="enterPress($event)" />
                    </div>
                </div>
                <div ng-class="lanDirction == 'rtl' ? 'mainSearchBoxLeft' : 'mainSearchBoxLeftLtr'" align="center" >
                    <div ng-click="doSearch()" align="right">
                        <img src="img/search.png" style="width:39px; height:36px; border:1px solid #ee2375;" />
                    </div>
                </div> 
            </div>
        </div>
        <div class="mainPageVideo" align="center" id="videoWrapper">
		<!--
        	<iframe width="100%" id="VideoPlayer" height="315" src="https://www.youtube.com/embed/mB_0ylNgUtw?showinfo=0&autohide=2&modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe>
		-->
		<video controls poster="img/video_main.png" width="100%" height="100%">
		<source id="VideoPlayer" src='http://tapper.co.il/mami/main_mami.mp4' type='video/mp4'>
		</video>

		
        </div>
		
		<table class="iconsTable" >
        	<tr>
            	<td ng-repeat="item in Catagories" ng-if="$index < 4">
                	<img ng-src="{{host+item.image}}" ng-if="currentLanguage == 'he'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                	<img ng-src="{{host+item.image_english}}" ng-if="currentLanguage == 'en'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                	<img ng-src="{{host+item.image_russian}}" ng-if="currentLanguage == 'ru'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                	<img ng-src="{{host+item.image_arabic}}" ng-if="currentLanguage == 'ar'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                </td>
            </tr>
            <tr class="tableTD" style="top:-6px; position:relative" >
            	<td  ng-repeat="item in Catagories" ng-if="$index >= 4" >
                	<img ng-src="{{host+item.image}}" ng-if="currentLanguage == 'he'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                	<img ng-src="{{host+item.image_english}}" ng-if="currentLanguage == 'en'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                	<img ng-src="{{host+item.image_russian}}" ng-if="currentLanguage == 'ru'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                	<img ng-src="{{host+item.image_arabic}}" ng-if="currentLanguage == 'ar'" ui-sref="app.search({ItemId:$index})" style="width:100%; border:1px solid #fff" />
                </td>
            </tr>			
		</table>
			

        <div class="mainPageVideo" align="center">
        	<div class="mainPageVideoInsideDiv">
            	<img src="img/banner.jpg" style="width:100%" />
            </div>
        </div>





	
  </ion-content>
</ion-view>
