<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content44">

        <div class="mainPageVideo" align="center">

		<div class="list">
			<div class="imageDetails">
            	<div class="thumbDetails">
                	 <img ng-src="{{host}}/{{personal.image}}" style="width:100%; height:147px;">
                </div>
                <div class="uploadDetails" ng-click="CameraOptions()">
                    <img src="img/{{'uploadimage' | translate}}" style="width:100%"  />
                </div>
            </div>
		</div>			
			
		<div class="list">

      <div class="searchInput" align="center" >
      		 <div class="searchInputDiv" style="padding-bottom:30px;">

                    <div style="direction:rtl;">

                         
                       
                         
                         <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="text"  g-places-autocomplete force-selection="true" options="autocompleteOptions"  placeholder="{{'supplierpersonal_address' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.address">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         </div>
                             
                         <label class="item item-input item-select itemSelectedQ">
                            <div class="input-label itemSelectedLabelQ">
                              {{'supplierpersonal_area' | translate}}
                            </div>
                            <select class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.area">
							   <option value="1">{{'supplierpersonal_haifa' | translate}}</option>
								<option value="2" >{{'supplierpersonal_bearsheva' | translate}}</option>
								<option value="3" >{{'supplierpersonal_shefela' | translate}}</option>
								<option value="4" >{{'supplierpersonal_sharon' | translate}}</option>
								<option value="5" >{{'supplierpersonal_telaviv' | translate}}</option>
								<option value="6" >{{'supplierpersonal_jeruslem' | translate}}</option>	
                            </select>	
                         </label>
						 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         
                         <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="email"   placeholder="{{'supplierpersonal_email' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.email">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         </div>
                         
                         <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="tel"   placeholder="{{'supplierpersonal_phone' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.phone">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         </div>
                         

                         
                         <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="text"   placeholder="{{'supplierpersonal_video' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.video">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         </div>
                         
                         <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="text"   placeholder="{{'supplierpersonal_facebook' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.facebook">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         </div>
                        
						<!--
                         <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="text"   placeholder="{{'supplierpersonal_waze' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="personal.waze">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         </div>
						 -->
                    </div>
					
					
                    <div style="margin-top:10px;" ng-click="savePersonal()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
      				</div>	
					
					
             </div>
      </div>	


		</div>			
			


		
		</div>





	  

			


	
  </ion-content>
</ion-view>
