<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>

    <ion-content  style="background-color:#fff9f1">


	
  			<div class="tabsDiv">
            	<div ng-class="{'tabsActive33': ActiveTab == 0 , 'tabsNotActive33': ActiveTab != 0 }" ng-click="setActiveTab(0)">
                	{{'appointments_day' | translate}}
                </div>
                <div  ng-class="{'tabsActive33': ActiveTab == 1 , 'tabsNotActive33': ActiveTab !=  1 }"  ng-click="setActiveTab(1)">
                	{{'appointments_week' | translate}}
                </div>
                <div  ng-class="{'tabsActive33': ActiveTab == 2 , 'tabsNotActive33': ActiveTab != 2 }"  ng-click="setActiveTab(2)">
                	{{'appointments_search' | translate}}
                </div>
            </div>

		<div ng-if="ActiveTab == 2">
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  {{'appointments_startdate' | translate}}
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'appointments_startdate' | translate}}" class="ion-input-select--large itemSelectedBox" ng-model="search.start">
		 </label>
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  {{'appointments_enddate' | translate}}
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'appointments_enddate' | translate}}" class="ion-input-select--large itemSelectedBox" ng-model="search.end">
		 </label>	
			<div style="margin-top:20px;" ng-click="searchDate()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
			</div>
		</div>

		
		<div ng-if="AppoinmentCount ==  0" align="center">
			<p>{{'appointments_nomatches' | translate}}</p>
		</div>


		
		<!-- 
		 | filter:searchByDate
		 ng-show="item.future == ActiveTab"
		 track by $index
		 -->
        <div class="ListRow" ng-repeat="item in Appointments | filter: CheckTime" >
            <div >
			
			<div class="ListRight">
				<img  ng-src="{{host}}/{{item.userInfo[0].image}}" style="width:100%; margin-top:-3px;"  />
            </div>
			

			
            <div class="ListCenter" style="width:70%" >
            	<h3>{{item.userInfo[0].name}}</h3>
				<h4 ng-if="item.subcat && currentLanguage == 'he'" >{{'appointments_sugtipul' | translate}} : {{item.subcatName[0].name}}</h4>
				<h4 ng-if="item.subcat && currentLanguage == 'en'" >{{'appointments_sugtipul' | translate}} : {{item.subcatName[0].name_english}}</h4>
				<h4 ng-if="item.subcat && currentLanguage == 'ar'" >{{'appointments_sugtipul' | translate}} : {{item.subcatName[0].name_arabic}}</h4>
				<h4 ng-if="item.subcat && currentLanguage == 'ru'" >{{'appointments_sugtipul' | translate}} : {{item.subcatName[0].name_russian}}</h4>
                <h4>{{'appointments_address' | translate}} : {{item.userInfo[0].address}}</h4>
                <h4>{{'appointments_phone' | translate}} : {{item.userInfo[0].phone}}</h4>
                <!--<h4>אזור : {{getAreaName(item.supplier[0].area)}}</h4>-->
				<h4>{{'appointments_date' | translate}} : {{item.start_date}}</h4>
				<h4>{{'appointments_hour' | translate}} : {{item.start_time}}</h4>
                <!--<div ng-if="item.rating">
				<div style="float:right; margin-top:5px;">
                	דירוג : {{item.rating}} 
				</div>
                	<table style="float:right; margin-right:14px; margin-top:5px;">	
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:item.rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                            </td>
							<td ng-if="getFloat(item.rating)">
							<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
							</td>
                        </tr>
                    </table>
                </div>-->
                <div class="DelEditAppointment">
                	<div class="delApp" ng-click="deleteAppoint(item.index)">
                    	<img src="img/{{'delimage' | translate}}"  style="width:100%; margin-top:20px;" />
                    </div>
                    <div class="editApp" ng-click="changeDate($index,item.index,item.supplier_index,item.userInfo[0].name,item.userInfo[0].image,item.index,item.subcat)">
                    	<img src="img/{{'editimage' | translate}}" style="width:100%; margin-top:20px;" />
                    </div>
                </div>
            </div>

						
            <!-- <div class="ListLeft" >
				<a class="button button-icon icon ion-trash-b" ng-click="deleteAppoint($index,item.index)"></a>
				<a class="button button-icon icon ion-edit" ng-click="changeDate($index,item.index,item.supplier_id,item.supplier[0].name,item.supplier[0].image)"></a>
            </div>-->
    	</div>
        <div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
		
		</div>
        </div>

    </ion-content>
</ion-view>
