<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-content class="content12">
        <div class="mainPageVideo" align="center" style="width:100%">
			<div class="list">
            	<div class="searchInput" align="center" >
                     <div class="searchInputDiv">
            			<div style="direction:rtl;">   
                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-click="selectTime(0)">

                              <input type="text" placeholder="{{'editfreeapp_starttime' | translate}}" style="text-align:center !important;"   class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.startime">
                           </label>
						  
                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-click="selectTime(1)" >
         
                              <input type="text"  placeholder="{{'editfreeapp_endtime' | translate}}" style="text-align:center !important;"  class="ion-input-select--large itemSelectedBoxQ" ng-model="fields.endtime">
                           </label>

                           <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                       </div>          
                      <div style="margin-top:10px;"  ng-click="updateFreeApp()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
                      </div>
					
                  </div>
              </div>	
            </div>			
		</div>
    </ion-content>
</ion-view>
