<ion-modal-view>
  <ion-header-bar style="background:#ff4286;">
    <h1 class="title"> <img class="title-image" src="img/head_logo.png" /></h1>
    
  </ion-header-bar>
  <ion-content >
  
     
	  <div class="mamiBanner">
      	<img src="img/mami_banner.jpg" style="width:100%;" />
      </div>
      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">
					<p style="margin-top:-20px; font-size:18px; color:red;">{{'search_modal_searchat' | translate}} {{SupplierName}}</p>
                    <div class="searchLine">
                    </div>
                    <div >
					<!--
                         <label class="item item-input item-select itemSelected" style="margin-top:10px;">
                            <div class="input-label itemSelectedLabel">
                              תתי קטגוריות
                            </div>
                            <select class="ion-input-select--large itemSelectedBox" ng-model="appt.subcat">
                                <option value="{{item.index}}"  ng-repeat="item in SapakSubcat" >{{item.name}}</option>
							    <option value="">הכל</option>
                            </select>
                         </label>
                    --> 
                    	  <label class="item item-input item-select itemSelectedQ" style="margin-top:10px;">
                            <div class="input-label itemSelectedLabelQ">
                              {{'search_modal_subcat' | translate}}
                            </div>
                            <select class="ion-input-select--large itemSelectedBoxQ" ng-model="appt.subcat">
								<!--<option value="0" selected>בחר/י קטגוריה</option> -->
                                <option ng-selected="{{appt.subcat == item.subcat_index}}" value="{{item.subcat_index}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'he'">{{item.sub_name}}</option>
                                <option ng-selected="{{appt.subcat == item.subcat_index}}" value="{{item.subcat_index}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'en'">{{item.sub_name_english}}</option>
                                <option ng-selected="{{appt.subcat == item.subcat_index}}" value="{{item.subcat_index}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'ar'">{{item.sub_name_arabic}}</option>
                                <option ng-selected="{{appt.subcat == item.subcat_index}}" value="{{item.subcat_index}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'ru'">{{item.sub_name_russian}}</option>
							    
                            </select>
                         </label>
                         
                         <label class="item item-input item-select itemSelectedQ" style="margin-top:10px;">
                          
							<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'search_modal_selectdate' | translate}}" style="text-align:right !important; margin-right:25px !important;" class="ion-input-select--large itemSelectedBoxQ" ng-model="appt.day">

                         </label>
                         <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
						
						<label class="item item-input itemSelectedQ" style="margin-top:-5px;" ng-click="pickTime()">
                              <div class="input-label" >
                                {{appt.time}}
                              </div>
								<div   style="height:35px; text-align:center !important; width:100%;" class="itemSelectedBox2"  >
									<div style="text-align:center !important; width:100%; ">{{appt.time}}</div>
								</div>
								
						</label>
						
						
                         <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                    </div>
                    <div style="margin-top:30px;" ng-click="searchAppoint()">
      					<img src="img/{{'searchbuttonimage3' | translate}}"  style="width:100%;" />
      				</div>
                    <div style="margin-top:10px;" ng-click="closeSearchModal()">
      					<img src="img/{{'closeimage' | translate}}"  style="width:100%;" />
      				</div>	
             </div>
      </div>
	  
        <!-- NG - Repeat -->
		<!--
		ui-sref="app.details({CatIndex:ItemId,IndexArray:$index})"
		-->
        <div class="ListRow"  ng-repeat="item in Appoinments" ng-click="saveAppoint(item.index,item.supplier_index,$index)">
            <div class="ListRight">
                <img  ng-src="{{host}}/{{SupplierImage}}" style="width:100%; margin-top:-3px;" />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
                <h4>{{'search_modal_day' | translate}} {{DayName}} {{item.start_date}}</h4>
                <h4>{{'search_modal_hour' | translate}} : {{item.start_time}}</h4>
                <h4>{{'search_modal_price' | translate}} : {{AppointPrice}} {{'search_modal_nis' | translate}}</h4>
                <div ng-if="item.rating && item.rating > 0" >
				<div style="float:right; margin-top:5px;">
                	{{'search_modal_derug' | translate}} : {{item.rating}} 
				</div>
                	<table style="float:right; margin-right:14px; margin-top:5px;">	
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:item.rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                            </td>
							<td ng-if="getFloat(item.rating)">
							<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
							</td>
                        </tr>
                    </table>
                </div>				
            </div>
			


			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
    	</div>
        <div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>	  

  </ion-content>
</ion-modal-view>
