<ion-view view-title="MAMI" >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
  <ion-content style="background-color:#fff9f1">
	  <div class="mamiBanner">
      	<img src="img/mami_banner.jpg" style="width:100%;" />
      </div>

      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">
             		<label ng-class="lanDirction == 'rtl' ? 'item item-input item-select itemSelected' : 'item item-input item-select itemSelected'">
                        <div class="input-label itemSelectedLabel" >
                          {{'search_area' | translate}}
                        </div>
                        <select ng-class="lanDirction == 'rtl' ? 'itemSelectedBox' : 'itemSelectedBoxLtr'"   ng-model="search.area">
							<option  value="0">{{'search_selectarea' | translate}}</option>
                            <option value="1">{{'search_haifa' | translate}}</option>
                            <option value="2">{{'search_bearsheva' | translate}}</option>
                            <option value="3">{{'search_shefela' | translate}}</option>
                            <option value="4">{{'search_sharon' | translate}}</option>
                            <option value="5">{{'search_telaviv' | translate}}</option>
                            <option value="6">{{'search_jeruslem' | translate}}</option>	
                        </select>
                    </label>
					<div ng-click="setSelected(1)">
                    <label class="item item-input item-select itemSelected" style="margin-top:10px;" >
                            <div class="input-label itemSelectedLabel">
                              {{'search_subcat' | translate}}
                            </div>
                            <select ng-class="lanDirction == 'rtl' ? 'itemSelectedBox' : 'itemSelectedBoxLtr'"  ng-model="search.subcat">
								<option value="0"  ng-click="setSelected(1)" selected>{{'search_cat' | translate}}</option> 
                                
								<option value="{{item.index}}" ng-repeat="item in Subcatagories"  ng-if="currentLanguage == 'he'">{{item.name}}</option>
								<option value="{{item.index}}" ng-repeat="item in Subcatagories"  ng-if="currentLanguage == 'en'">{{item.name_english}}</option>
								<option value="{{item.index}}" ng-repeat="item in Subcatagories"  ng-if="currentLanguage == 'ar'">{{item.name_arabic}}</option>
								<option value="{{item.index}}" ng-repeat="item in Subcatagories"  ng-if="currentLanguage == 'ru'">{{item.name_russian}}</option>
								
								
								
							    <!--<option value="" ng-if="show == 1" >כל הקטגוריות</option>-->
                            </select>
                    </label>	
                    </div>				
                    <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                    
                    
                    <div style="overflow:hidden; margin-top:8px;">
                        <div class="button-bar" style="width:100%;">
                            <a  ng-click="service(1)" ng-class="ApptSelected ? 'button active SearchbuttonActive' : 'button Searchbutton'">{{'search_appointment' | translate}}</a>
                            <a  ng-click="service(2)" ng-class="ServiceSelected ? 'button active SearchbuttonActive' : 'button Searchbutton'">{{'search_service' | translate}}</a>
                        </div>
                    </div>	
                    <div class="searchLine">
                    </div>
                    <div ng-if="show == '0'">

                         
                         <label class="item item-input item-select itemSelected" style="margin-top:8px; ">
                            <div class="input-label" style="color:#fff;">
                               {{'search_date' | translate}}
                            </div>
							<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" style="margin-left:30px; margin-top:-3px;" placeholder="{{'search_date' | translate}}" ng-class="lanDirction == 'rtl' ? 'itemSelectedBox' : 'itemSelectedBoxLtr'" ng-model="search.day">

                         </label>
						 
						 
                         <label class="item item-input item-select itemSelected" style="margin-top:8px;" ng-click="pickTime()">

							<div   style="height:28px; margin-top:3px; text-align:center !important; width:100%;" ng-class="lanDirction == 'rtl' ? 'itemSelectedBox' : 'itemSelectedBoxLtr'"  >
								<div style="text-align:center !important; width:100%; " ng-if="!search.time">{{'selecttimectrl' | translate}}</div>
								<div style="text-align:center !important; width:100%; " ng-if="search.time">{{search.time}}</div>
							</div>
							
                         </label>
						 

                    </div>
                    <div style="margin-top:30px;" ng-click="searchBtn()">
      					<img ng-if="show == 0" src="img/{{'searchbuttonimage1' | translate}}"  style="width:100%;" />
						<img ng-if="show == 1" src="img/{{'searchbuttonimage2' | translate}}"  style="width:100%;" />
      				</div>	
             </div>
      </div>
  </ion-content>
</ion-view>
