<ion-modal-view>
  <ion-header-bar style="background:#DC5353;">
    <h1 class="title"> <img class="title-image" src="img/head_logo.png" /></h1>
    <div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="CloseCommentModal()">{{'modal_close' | translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content style="background-color:#fff9f1">
  
      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">

                    <div >

                         
                         <label class="item item-input item-select itemSelected" style="margin-top:8px;">
							<textarea placeholder="{{'commentmodal_desc' | translate}}" rows="4" cols="50" ng-model="comment.text" class="ion-input-select--large itemSelectedBox"></textarea>
                         </label>
						 <!--
                         <label class="item item-input item-select itemSelected" style="margin-top:8px;">
                            <div class="input-label">
                              בחר תאריך
                            </div>
							<input type="text"  placeholder="טלפון" class="ion-input-select--large itemSelectedBox" ng-model="comment.day">
                         </label>	
						 -->
                    </div>
                    <div style="margin-top:30px;" ng-click="postComment()">
      					<img src="img/{{'searchbuttonimage3' | translate}}"  style="width:100%;" />
      				</div>	
             </div>
      </div>  
  
  

  </ion-content>
</ion-modal-view>
