<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
			
		<div style="margin:8px 5px 0 0; " ng-click="languageOptions()">
			<div><img src="img/flags/israel.png" style="width:30px;"></div>
		</div>
	  
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title" style="color:#fff;">MAMI</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/main" style="text-align:right;">
          {{'menu_home' | translate}}
        </ion-item>	  
        <ion-item menu-close href="" ng-click="myOrders(0)" style="text-align:right;" >
          {{'menu_history' | translate}}
        </ion-item>
        <ion-item menu-close href="#/app/updateinfo"  style="text-align:right;" ng-if="IsloggedIn">
          {{'menu_update' | translate}}
        </ion-item>		
        <ion-item menu-close href="#/app/supplier" style="text-align:right;">
          {{'menu_supplier' | translate}}
        </ion-item>
        <ion-item menu-close href="#/app/supplierLogin" style="text-align:right;">
          {{'menu_supplierlogin' | translate}}
        </ion-item>
        <ion-item menu-close href="" ng-click="CouponsNav(1)" style="text-align:right;">
          {{'menu_coupons' | translate}}
        </ion-item>
        <ion-item menu-close href="" ng-click="LogOut()" style="text-align:right;" ng-if="IsloggedIn">
          {{'menu_logout' | translate}}
        </ion-item>
      </ion-list>
	  <div ng-if="IsloggedIn" align="center">{{'menu_connectedas' | translate}} : {{fullName}}</div>
	  
	  <!--
	  <div align="center" class="menuButtons" align="center">
		<div style="width:80%">
         <div ng-click="changeLanguage('en')" class="menuButton"><img src="img/flags/us.png" style="width:100%;"></div>
         <div ng-click="changeLanguage('ru')" class="menuButton"><img src="img/flags/russia.png" style="width:100%;"></div>
         <div ng-click="changeLanguage('ar')" class="menuButton"><img src="img/flags/egypt.png" style="width:100%;"></div>
         <div ng-click="changeLanguage('he')" class="menuButton"><img src="img/flags/israel.png" style="width:100%;"></div>
		<div>
	  </div>
	  -->
	  
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
